variable "aws_region" {
  description = "AWS region"
  default     = "us-east-2"
}

variable "aws_account" {
  description = "AWS account id"
  default     = ""
}

variable "project_name" {
  description = "Project name"
  default     = "axelarscan"
}

variable "package_name" {
  description = "Package name"
  default     = "axelarscan-api"
}

variable "environment" {
  description = "Environment"
  default     = "stagenet"
}

variable "indexer_url" {
  description = "Indexer url"
  default     = ""
}

variable "indexer_username" {
  description = "Indexer username"
  default     = ""
}

variable "indexer_password" {
  description = "Indexer password"
  default     = ""
}

variable "log_level" {
  description = "Log level"
  default     = "debug"
}

variable "app_version" {
  description = "App version, same as docker image version"
  default     = "0.0.8"
  validation {
    error_message = "Must be valid semantic version. $Major.$Minor.$Patch"
    condition     = can(regex("^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$", var.app_version))
  }
}
