variable "aws_region" {
  description = "AWS region"
  default     = "us-east-2"
}

variable "aws_profile" {
  description = "AWS profile"
  default     = "default"
}

variable "project_name" {
  description = "Project name"
  default     = "axelarscan"
}

variable "environment" {
  description = "Environment"
  default     = "testnet"
}

variable "general_indexer_url" {
  description = "General indexer url"
  default     = ""
}

variable "general_indexer_username" {
  description = "General indexer username"
  default     = ""
}

variable "general_indexer_password" {
  description = "General indexer password"
  default     = ""
}

variable "transfers_indexer_url" {
  description = "Transfers indexer url"
  default     = ""
}

variable "transfers_indexer_username" {
  description = "Transfers indexer username"
  default     = ""
}

variable "transfers_indexer_password" {
  description = "Transfers indexer password"
  default     = ""
}

variable "api_gateway_integration_id" {
  description = "API gateway integration id"
  default     = ""
}

variable "log_level" {
  description = "Log level"
  default     = "debug"
}